.footer {
    background-color:  orange;
    font-size: 18px !important;
    padding: 1em;
    
   

}
.mainHeaderTitle{
    font-size: 15px;
}
.logo{
    color:  white;
    font-weight: bolder;
    font-size: 35px;
}