.filters {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    &__filter {
      align-items: center;
      background-color: var(--light-gray);
      border: none;
      border-radius: 4px;
      display: flex;
      font-size: 1.25rem;
      font-weight: bold;
      height: 40px;
      justify-content: center;
      width: 150px;
      color: var(--gray);
      &--active {
        background-color: var(--blue);
        color: white;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }