.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

}

.login input,
textarea,
select {
  padding: -22px;
  font-size: 16px;
  padding-left: 10px;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

a {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.loginCard {
  width: 500px;
  padding: 60px 30px 32px;
  border-radius: 1.25rem;
  background: #ffffff;
  text-align: center;
  transition: 0.4s;
}

.loginCard>h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 30px;
}

.loginCard img {
  width: 260px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 5px;
  margin-bottom: 10px;
}

.loginForm {
  width: 100%;
  margin: 0;
  display: grid;
}

.loginForm input.control::placeholder {
  color: #9d9fbd;
}

.control {
  border: 1.5px solid #dfe1f0;
  outline: none;
  width: 100%;
  height: 56px;
  padding: 0 0;
  background: #f6f7ff;
  color: inherit;
  border-radius: 6px;
  margin: 8px 0;
  font-family: inherit;
  text-align: left;
  font-size: 18px;
  transition: 0.4s;
}

button.control {
  cursor: pointer;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background: #f39845;
  color: #f7f7f7;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s;
}

a.control {
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  height: 56px;
  padding: 0 0;
  background: #454a8f;
  color: #f7f7f7;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s;
 
}

.bars {
  margin: 8px 0;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 6px;
  border-radius: 3px;
  background: #dfe1f0;
}

.bars div {
  height: 6px;
  border-radius: 3px;
  transition: 0.4s;
  width: 0%;
}

.bars.weak div {
  background: #e24c71;
  width: 33.33%;
}

.bars.medium div {
  background: #f39845;
  width: 66.66%;
}

.bars.strong div {
  background: #57c558;
  width: 100%;
}

.strength {
  text-align: left;
  height: 30px;
  text-transform: capitalize;
  color: #868b94;
}